* {
    color: rgb(205, 214, 244);
}
body{
    background-color: rgb(30, 30, 46);
}
h1 {
    background-color: rgb(17, 17, 27);
    color: rgb(205, 214, 244);
    text-align: center;
}

p.main {
    font-size: 25px;
    text-align: center;
    line-height: 1px;
}

div.veritasium {
    width: fit-content;
    height: fit-content;
    line-height: 0px;
    text-align: center;
}

div.v1, .v2, .v3 {
    background-color: rgb(24, 24, 37);
    padding: 10px;
    padding-top: 0px;
    margin: 15px;
    display: inline-block;
    font-size: 18px;
}

p.vidtitle {
    padding: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(17, 17, 27);
}

div.footer {
    position: absolute; 
    bottom: 0; 
    left: 0; 
    z-index: 10;
}